@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  font-family: "Hind", sans-serif;
}

input {
  color: #D3D3D3;
  background: transparent;
}

input::placeholder{
  opacity: 1;
  color: #9e9e9e;
}

@keyframes autofill {
  to {
    color: silver;
    background: transparent;
  }
}

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}